.companies {
      &__title {
            @include titleTable;
            margin-bottom: 5%;
            position: relative;

            &::after {
                  @include afterElement(25vw, 1.5vh, 11%, 55%)
            }
      }

      &__divTable {
            overflow-x: auto;
            width: 90%;
            margin: auto;
      }

      &__table {
            border-collapse: collapse;
            table-layout: auto;
            width: 100%;
            @include fontRoboto(3vw, 600, black);

            &__head {
                  white-space: nowrap;
                  background-color: $yellow;
                  height: 4vh;

                  //width: 100%;
                  th {
                        padding: 2vw 2vw;
                        margin-right: 5%;
                  }
            }

            &__body {
                  white-space: nowrap;

                  tr {
                        &.odd {
                              background-color: $lightGray;
                        }
                  }

                  td {
                        padding: 2vw 4vw;
                        padding-right: 5%;
                  }

                  &--link {
                        text-decoration: none;
                        @include fontRoboto(3vw, 600, black);
                  }
            }

      }
}

@media only screen and (min-width: 1025px) {
      .companies {
            &__title {
                  font-size: 3vw;

                  &::after {
                        @include afterElement(15vw, 3vh, 8%, 55%);
                  }
            }

            &__divTable {
                  width: 80%;
            }

            &__table {
                  font-size: 1.5vw;

                  &__head {
                        height: 2vh;
                  }

                  &__body {
                        td {
                              padding: 0.7vw 2vw;
                              padding-right: 5%;
                        }

                        &--link {
                              font-size: 1.5vw;
                        }
                  }

            }
      }
}