.dash {
  &__sectionTop {
    &__title {
      margin: -18% 14%;
      @include fontRoboto(4.5vw, 900, black);
    }
  }

  &__sectionStat {
    margin: 5% auto;
    width: 70%;
    @include fontRoboto(2vw, 600, black);
  }

  &__sectionMiddle {
    margin: 5% auto;
    width: 70%; 
    &__title {
      @include fontRoboto(2vw, 600, black);
      margin-left: 10%;
      margin-bottom: 1.5%;
    }
    &__divAll {
      overflow-x: auto;
}
  }

}