.dash {
  background-color: $lightGray;
  &__sectionTop {
    &__title {
      margin: 5% 18%;
      @include fontInter(4.5vw, 900, black);
    }
  }

  &__sectionMiddle {
    margin: 5% auto;
    margin-right: 5%;
    width: 90%;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;

    &__title {
      @include fontInter(3.5vw, 900, black);
    }
    &__divAll {
      overflow-x: auto;
    }

    &__table {
      border-collapse: collapse;
      table-layout: auto;
      width: 100%;

      &--head {
        height: 4vh;
        text-align: left;
      }
      &--headCell {
        @include fontInter(2.5vw, 900, black);
        padding: 2vw 0vw 2vw 2vw;
        margin-right: 5%;
        text-align: left;
      }

      &--bodyCell {
        padding: 2vw 2vw;
        padding-right: 0.1%;
        text-align: left;
      }
      @include fontInter(2.5vw, 400, black);
    }
  }
}
