//Layout of the home page and its components
.homepage {

      //First section of the homepage
      &__sectionTop {
            display: flex;
            background-color: $yellow;
            align-items: center;
            justify-content: space-around;
            height: 48.5vw;
            z-index: 5;
            margin-top: -8%;
            position: relative;

            &__title {
                  @include fontInter(5vw, 900, black);
                  width: 50%;
                  margin-left: 7%;
            }

            &__img {
                  width: 55%;
            }

            &__rect {
                  position: absolute;
                  z-index: 10;
                  top: 84.5%;
                  background-color: $yellow;
                  width: 90%;
            }
      }

      //Second section of the homepage with tables of the last 5 invoices, contacts and companies.
      &__sectionMiddle {
            margin: 5% auto;
            width: 90%;

            &__img1 {
                  position: absolute;
                  width: 15%;
                  right: -2%;
            }

            &__img2 {
                  position: absolute;
                  width: 15%;
                  left: -3.5%;
                  transform: rotate(45deg);
            }


            &__title {
                  @include titleTable;
                  margin-bottom: 2.5%;
            }

            &__divAll {
                  overflow-x: auto;
            }

            &__table {
                  border-collapse: collapse;
                  table-layout: auto;
                  width: 100%;
                  @include fontRoboto(3vw, 600, black);

                  &--head {
                        white-space: nowrap;
                        background-color: $yellow;
                        height: 4vh;
                        //width: 100%;
                  }

                  &--headCell {
                        padding: 2vw 2vw;
                        margin-right: 5%;
                  }

                  &--body {
                        white-space: nowrap;

                        tr {
                              &.odd {
                                    background-color: $lightGray;
                              }
                        }
                  }

                  &--bodyCell {
                        padding: 2vw 4vw;
                        padding-right: 5%;
                  }

                  &--link {
                        text-decoration: none;
                        @include fontRoboto(3vw, 600, black);
                  }
            }
      }

      //Third section of the homepage
      &__sectionBottom {
            display: flex;
            align-items: center;
            justify-content: space-around;
            height: 43.1vw;

            &__title {
                  @extend .homepage__sectionTop__title;
            }

            &__img {
                  width: 50%;
            }

            &__rect {
                  width: 50%;
                  position: absolute;
                  z-index: -1;
                  right: 0;
            }
      }
}

@media only screen and (max-width: 1024px) and (min-width: 768px) {
      .homepage {
            &__sectionTop {
                  margin-top: -8%;

                  &__rect {
                        top: 84.4%;
                  }
            }
      }
}

@media only screen and (min-width: 1025px) {
      .homepage {
            &__sectionTop {
                  margin-top: -8%;
                  height: 37vw;

                  &__rect {
                        top: 79.5%;
                  }

                  &__title {
                        font-size: 3.5vw;
                        margin-left: 15%;
                        width: 50%;
                  }

                  &__img {
                        width: 40%;
                  }
            }

            &__sectionMiddle {
                  margin: 10% auto;
                  width: 80%;

                  &__img1 {
                        position: absolute;
                        width: 15%;
                        bottom: -100%;
                  }

                  &__title {
                        font-size: 3vw;
                  }

                  &__table {
                        font-size: 1.5vw;

                        &--head {
                              height: 2vh;
                        }

                        &--headCell {
                              padding: 2vw 2vw;
                              margin-right: 5%;
                        }

                        &--bodyCell {
                              padding: 1vw 2vw;
                              padding-right: 2.5%;
                        }

                        &--link {
                              font-size: 1.5vw;
                        }
                  }
            }

            &__sectionBottom {
                  height: 30vw;

                  &__title {
                        font-size: 3.5vw;
                        margin-left: 15%;
                        width: 40%;
                  }

                  &__img {
                        width: 35%;
                  }

                  &__rect {
                        width: 35%;
                        position: absolute;
                        z-index: -1;
                        right: 0;
                  }
            }
      }
}