.showUnique {
      margin-top: 7%;

      &__title {
            @include titleTable;
            position: relative;

            &::after {
                  @include afterElement(30vw, 1.5vh, 10%, 55%);
            }
      }

      &__list {
            margin-left: 10%;
            margin-top: 5%;

            &__elem {
                  @include fontRoboto (3vw, 700, black);

                  &--bold {
                        font-weight: 900;
                  }
            }
      }

      &__contact {
            &__div {
                  display: flex;
                  flex-direction: row;
                  justify-content: space-around;
                  align-items: center;
            }

            &__img {
                  width: 25%;
                  height: auto;
                  border-radius: 50%;
            }
      }

}

@media only screen and (min-width: 1025px) {
      .showUnique {
            margin-top: 4%;

            &__title {
                  font-size: 3vw;


                  &::after {
                        @include afterElement(25vw, 3vh, 8%, 55%);
                  }
            }

            &__list {
                  margin-left: 10%;
                  margin-top: 5%;

                  &__elem {
                        font-size: 1.5vw;
                  }
            }

            &__contact {

                  &__img {
                        width: 15%;
                  }
            }

      }
}