.dash__nav {
 
  &__link { 
    background-color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    width: 10%;
    position:sticky;
    &___nav--style {
    width: 10vw;
    }
    &__button--mobile {
      width: 15vw;
    }
  }
}
