.dashHeader{      
      display: flex;
            align-items: center;
            justify-content: space-around;
            height: 48.5vw;
            margin-top: -10%;
            margin-left: 15%;
            z-index: 5;
      
      &__HeyMsg{
            background-color: $violet;
            height: 30vw;
            @include fontInter(2.5vw, 900, rgb(255, 255, 255));
            p{
                  @include fontInter(2.5vw, 400, rgb(255, 255, 255));
                  width: 70%;
            }
      }
      
      &__Img{
            width: 50%;
            z-index: 2;
            top: 30%;
      }
} 
