.dashHeader {
  @include fontAssistant(3vw, 900, black);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30vw;
  margin-top: 3%;

  &__HeyMsg {
    background-color: $violet;
    width: 90%;
    padding: 3%;
    border-radius: 10px;
    position: relative;

    @include fontInter(3vw, 900, rgb(255, 255, 255));

    p {
      @include fontInter(3vw, 400, rgb(255, 255, 255));
      width: 45%;
      padding: 2%;
      position: relative;

    }
  }

  &__Img {
    width: 35%;
    position: absolute;
    right: -1rem;
    top: -1rem;
  }
}